^autom4te.cache/
^clean.sh
^.cproject
^install-sh
^leidenbase_0.1.0.tar.gz
^mk_repo.sh
^object_files
^.project
^.Rdata
^.Rhistory
^.Ruserdata
^.settings/
^config.log
^config.status
^configure
^configure.ac
^cran
^old_versions
^old_save
^R/.Rhistory
^src/.Rhistory
^src/leidenbase.so
^src/*.o
^src/arpack/*.o
^src/cigraph
^src/cigraph/autom4te.cache
^src/cigraph/configure
^src/cigraph/configure.ac
^src/Makevars
^src/Makevars.in
^src/Makevars.win
^src/uuid/*.o
^src/uuid/.Rhistory
^todo
^inst/doc
